---
import "../styles/main.scss";
import info from "../content/info.json";
import Icon from "../components/Icon.astro";
import ResumeDetail from "../components/ResumeDetail.astro";
import astro from "../icons/astro.svg";
import docker from "../icons/docker.svg";
import gatsby from "../icons/gatsby.svg";
import git from "../icons/git.svg";
import java from "../icons/java.svg";
import javascript from "../icons/javascript.svg";
import linux from "../icons/linux.svg";
import postgres from "../icons/postgresql.svg";
import react from "../icons/react.svg";
import spring from "../icons/spring.svg";
import svelte from "../icons/svelte.svg";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			href="https://api.fonts.coollabs.io/css2?family=Manrope:wght@400;500&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="cv-page">
			<header class="heading">
				<div class="name-title-container">
					<h1>{info.name}</h1>
					<h2>{info.jobTitle}</h2>
				</div>
			</header>
			<aside class="short-info">
				<div class="contact-container">
					<h2>Contact</h2>
					<a href={`tel:${info.contact.number}`}
						>Number: {info.contact.number}</a
					>
					<a href={`mailto:${info.contact.email}`}
						>Email: {info.contact.email}</a
					>
					<a href={info.contact.github}>Github: {info.contact.github}</a>
					<a href={info.contact.linkedin}>Linkedin: {info.contact.linkedin}</a>
				</div>
				<div class="about-me-container">
					<h2>About me</h2>
					<p>
						{info.aboutMe}
					</p>
				</div>
				<div class="skills-container">
					<h2>Skills</h2>
					<div class="skill-icons">
						<Icon icon={astro} title="Astro" />
						<Icon icon={docker} title="Docker" />
						<Icon icon={gatsby} title="Gatsby" />
						<Icon icon={git} title="Git" />
						<Icon icon={java} title="Java" />
						<Icon icon={javascript} title="JavaScript" />
						<Icon icon={linux} title="Linux" />
						<Icon icon={postgres} title="Postgres" />
						<Icon icon={react} title="React" />
						<Icon icon={spring} title="Spring" />
						<Icon icon={svelte} title="Svelte" />
					</div>
				</div>
				<div class="language-container">
					<h2>Languages</h2>
					{
						info.languages.map((l) => {
							return (
								<p>
									{l.language}: {l.level}
								</p>
							);
						})
					}
				</div>
			</aside>
			<article class="details">
				<section class="experience">
					<h2 class="title">Experience</h2>
					{
						info.experience.map((e) => {
							return (
								<ResumeDetail
									title={e.title}
									subtitle={e.subtitle}
									description={e.description}
								/>
							);
						})
					}
				</section>
				<section class="projects">
					<h2 class="title">Projects</h2>
					{
						info.projects.map((p) => {
							return (
								<ResumeDetail
									title={p.title}
									subtitle={p.subtitle}
									description={p.description}
								/>
							);
						})
					}
				</section>
				<section class="education">
					<h2 class="title">Education</h2>
					{
						info.education.map((e) => {
							return (
								<ResumeDetail
									title={e.title}
									subtitle={e.subtitle}
									description={e.description}
								/>
							);
						})
					}
				</section>
			</article>

			<footer class="agreement">
				<p>
					I agree to the processing of personal data provided in this document
					for realising the recruitment process pursuant to the Personal Data
					Protection Act of 10 May 2018 (Journal of Laws 2018, item 1000) and in
					agreement with Regulation (EU) 2016/679 of the European Parliament and
					of the Council of 27 April 2016 on the protection of natural persons
					with regard to the processing of personal data and on the free
					movement of such data, and repealing Directive 95/46/EC (General Data
					Protection Regulation).
				</p>
			</footer>
		</div>
	</body>
</html>

<style lang="scss">
	@import "../styles/variables.scss";
	.cv-page {
		width: 210mm;
		height: 297mm;
		display: grid;
		grid-template-areas:
			"heading heading"
			"short-info details"
			"footer footer";
		grid-template-rows: 135px 1fr;
		grid-template-columns: 300px 1fr;
		column-gap: $g-l;
		background-color: $primary;

		& > .heading {
			grid-area: heading;
			background-color: $secondary;

			& > .name-title-container {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				gap: $g-md;
				padding: $g-l;

				& > h1,
				h2 {
					color: $accent;
				}
			}
		}

		& > .short-info {
			grid-area: short-info;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			padding: $g-l;

			& h2,
			p,
			a {
				text-align: center;
			}

			& > .contact-container {
				display: flex;
				flex-direction: column;
			}

			& .skill-icons {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				row-gap: $g-md;
				column-gap: $g-md;
			}
		}

		& > .details {
			grid-area: details;
			display: flex;
			flex-direction: column;
			gap: $g-l;
			padding-top: $g-l;

			& > section {
				display: flex;
				flex-direction: column;
				gap: $g-s;
			}
		}

		& > .agreement {
			grid-area: footer;
			padding: 1rem;

			& > p {
				font-size: $fs-xs;
			}
		}
	}
</style>
